header{
    text-align: center;
    font-family: Mogra;
    color: rgb(3, 3, 3);
    background-color: rgb(16, 45, 124);
    
    text-decoration: underline;
    
}
#p1{
    text-align: center;
    font-family: Mogra;
    font-size: 150%;

}
#t1{
    font-family: Mogra;
    font-size: 24px;
    
    text-align: center;
}
#t2{
    
    font-family: Mogra;
    font-size: 25px;
    background-color:  rgb(216, 66, 116);
    border: thin;

}
body{
background-color: rgb(216, 66, 116);

}
.topright {
    position: absolute;
    top: 61px;
    right: 120px;
    font-size: 18px;
  }
#logo{
    width: 25%;
    padding-top: 10%;
    padding-right: 10%;
    
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(26, 139, 214);
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: Mogra;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Mogra;
  }
  
